[Unit]
Description=Connect to Wi-Fi network using nmcli
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/nmcli dev wifi connect "FRITZ!Box 7530 RR" password "06420304028449282342" ifname wlan0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

